@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Fonts */
  --font-sans: var(--font-inter);

  /* Brand colors */
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);

  /* Feedback colors */
  --color-destructive: var(--destructive);
  --color-on-destructive: var(--on-destructive);

  /* Neutral colors */
  --color-neutral-1: var(--neutral-1); /* (e.g. Main background) */
  --color-neutral-2: var(--neutral-2); /* (e.g. Card background) */
  --color-neutral-3: var(--neutral-3); /* (e.g. Hover backgrounds) */
  --color-neutral-4: var(--neutral-4); /* (e.g. Borders/dividers) */

  --color-on-neutral-1: var(--on-neutral-1); /* (e.g. Primary text) */
  --color-on-neutral-2: var(--on-neutral-2); /* (e.g. Muted text) */

  /* Transitions */
  --default-transition-duration: 300ms;
}

:root {
  --primary: oklch(0.55 0.2 264.376);
  --on-primary: oklch(0.99 0 0);

  --destructive: oklch(0.58 0.24 25);
  --on-destructive: oklch(0.99 0 0);

  --neutral-1: oklch(0.99 0 0);
  --neutral-2: oklch(1 0 0);
  --neutral-3: oklch(0.96 0.005 270);
  --neutral-4: oklch(0.9 0.01 270);

  --on-neutral-1: oklch(0.15 0.01 270);
  --on-neutral-2: oklch(0.5 0.02 270);
}

.dark {
  --primary: oklch(67.936% 0.16867 263.806);
  --on-primary: oklch(0.99 0 0);

  --destructive: oklch(0.65 0.22 25);
  --on-destructive: oklch(0.99 0 0);

  --neutral-1: oklch(0.15 0.01 270);
  --neutral-2: oklch(0.2 0.015 270);
  --neutral-3: oklch(0.25 0.015 270);
  --neutral-4: oklch(0.3 0.02 270);

  --on-neutral-1: oklch(0.95 0 0);
  --on-neutral-2: oklch(0.55 0.02 270);
}

@layer base {
  * {
    /* Apply focus styles (e.g. Tab keyboard navigation) */
    @apply focus-visible:outline-primary/75 outline-2 outline-offset-2 outline-transparent;
  }
}
